<div class="container contenedor-campo-de-entrada">
	<div id="chat-id-container-{{pathDelServidor}}" class="row">
		<div class="col-xs-10">
			<input placeholder="Escribe aquí" type="text" id="campoDeEntrada" class="form-control" >
		</div>
		<div class="col-xs-2">
			<button id="enviar" class="btn btn-default"></button>
		</div>
	</div>
</div>
<style>
	.panel-body
	{
		height: 100%;
		overflow: scroll
	}
</style>

<script>

$(function(){
	function initChats{{pathDelServidor}}()
	{
		var chat = $("#chat-id-{{pathDelServidor}} .chat");
		var conversation = $("#chat-id-{{pathDelServidor}} #conversation");
		var campoDeEntrada = $("#chat-id-container-{{pathDelServidor}} #campoDeEntrada");
		var mensajeDeAgente = $('<li class="other"><div class="msg"><p></p><time>20:17</time></div></li>');
		var mensajeDeUsuario = $('<li class="self"><div class="msg"><p></p><time>20:17</time></div></li>');
		var botonDeEnviarMensaje = $("#chat-id-container-{{pathDelServidor}} #enviar");
		var ultimoMensajeEnviado="";
		
		botonDeEnviarMensaje.click(function(){
		
			enviarAlServer({ textoAEnviar:campoDeEntrada.val() });
			
		});
		
		resizeDiv();
		
		window.onresize = function(event) {
			resizeDiv();
		}
		
		function resizeDiv(muestraTeclado, callback)
		{
			vpw = $(window).width();
			vph = $(window).height();
			var altura = vph - 73 - 68 - 30;
			if(muestraTeclado)
			{
				altura -= 250;
			}
			chat.css({'height': altura + 'px'});
			
			if(callback != undefined)
			{
				callback();
			}
		}
		
		$('input').bind('focus', function()
		{
			resizeDiv(true, function(){
				moverScrollParaAbajoEnFuncionDelUltimoMensaje(function(){
					$("html, body").animate({scrollTop: 0}, "fast");
				});
			});
		});
		
		$('input').bind('blur', function()
		{
			setTimeout(resizeDiv, 100);
		});
		
		campoDeEntrada.keypress(function(e)
		{
			if(e.which == 13) 
			{
				enviarAlServer({ textoAEnviar:campoDeEntrada.val()});
			}
		});
		
		enviarAlServer({sePuedenEnviarVaciosAlServer:true, imprimirElMensajeQueElUsuarioEscribioEnLaConversacion:false, textoAEnviar:"Hola"});
		
		function enviarAlServer(param)
		{
			var sePuedenEnviarVaciosAlServer = ( param.sePuedenEnviarVaciosAlServer == undefined ) ? false : true;
			var imprimirElMensajeQueElUsuarioEscribioEnLaConversacion = ( param.imprimirElMensajeQueElUsuarioEscribioEnLaConversacion == undefined ) ? true : false;
			var textoAEnviar = param.textoAEnviar.trim();
					
			if( ! sePuedenEnviarVaciosAlServer && textoAEnviar == "") return	
			if( imprimirElMensajeQueElUsuarioEscribioEnLaConversacion )
			{
				var mensaje = mensajeDeUsuario.clone();
				mensaje.find(".msg p").html(textoAEnviar);
				campoDeEntrada.val("");
				conversation.append(mensaje);
				
				moverScrollParaAbajoEnFuncionDelUltimoMensaje();
			}
			
			ajax({
				type: "POST",
				contentType :"text/plain; charset=UTF-8",
				url : serverDomain+"/conversacion/{{pathDelServidor}}/",
				data : textoAEnviar,
				done:function( data ) 
				{
					var respuesta = mensajeDeAgente.clone();
					respuesta.find(".msg p").html(data.texto);
					conversation.append(respuesta);
					
					moverScrollParaAbajoEnFuncionDelUltimoMensaje();
				},
				fail: function(XMLHttpRequest, textStatus, textStatus) 
				{
					console.log(JSON.stringify(XMLHttpRequest));
					console.log(XMLHttpRequest.responseJSON.exception);
					if( XMLHttpRequest.responseJSON.exception.includes("NoSessionException") )
					{
						cambiarVista( "login" );
					}
				}
			});
			
			ultimoMensajeEnviado = textoAEnviar;
			
		}
		function moverScrollParaAbajoEnFuncionDelUltimoMensaje(callback)
		{
			chat.parent().parent().scrollTop(chat.parent().parent()[0].scrollHeight);
			if(callback != undefined)
			{
				callback();
			}
		}
		
		this.reenviarUltimoMensajeSinImprimirlo = function()
		{
			enviarAlServer({sePuedenEnviarVaciosAlServer:false, imprimirElMensajeQueElUsuarioEscribioEnLaConversacion:false, textoAEnviar:ultimoMensajeEnviado});
		}

	}
	var initChats{{pathDelServidor}} = initChats{{pathDelServidor}}();	
});
</script>