{{#each ofertas}}
	<div class="row">
		<div class="col-xs-12">
			<div class="row datos-de-oferta" id="{{idOferta}}">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12 embed-responsive embed-responsive-4by3">
							{{#if esHtml}}
								<div class="overlay"></div>
								<iframe class="html-de-oferta embed-responsive-item" frameBorder="0" scrolling="no" id="html-de-oferta-{{idOferta}}" style="display:block; width:100%;"></iframe>
								<script type="text/javascript">
								var source = serverDomain + "/archivossubidos/{{imagenPublicidadPath}}";
								var iframe = $('#ofertas #html-de-oferta-{{idOferta}}');
								iframe.attr("src", source);
								
								var parent = iframe.parent();
								var ancho = parent.width();
								var alto = ancho / 4 * 3;
								var overlay = parent.find(".overlay");
								overlay.width(ancho).height(alto);
								</script>
							{{else}}
								<img src="/archivossubidos/{{imagenPublicidadPath}}" class="imagen-de-oferta embed-responsive-item">
							{{/if}}
						</div>
					</div>
					<div class="row nombre-del-comercio">
						<div class="col-xs-12">
							<strong>{{comercio}}</strong>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<span>{{tituloDeOferta}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row contenedor-de-botones">
				<div class="col-xs-6">
					<div class="tiempo-transcurrido">Hace {{tiempoTranscurrido}}</div>
				</div>
				<div class="col-xs-6">
					<div class="row">
						{{#if esUnUsuarioConocido}}
							<div class="col-xs-3"><div data-id="{{idOferta}}" class="boton-like estado-{{likes}}"></div></div>
							<div class="col-xs-3"><div data-id="{{idOferta}}" class="boton-dislike estado-{{dislikes}}"></div></div>
						{{else}}
							<div class="col-xs-6"></div>
						{{/if}}
						<div class="col-xs-3"><div data-audio="/archivossubidos{{descripcionAudio}}" class="boton-escuchar play"></div></div>
						<div class="col-xs-3"><div class="boton-compartir" data-id="{{idOferta}}" data-titulo="{{tituloDeOferta}}" data-path="{{imagenParaMostrar}}"></div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{/each}}