<div class="row">
  <div class="col-xs-12">
    <p><strong>¡Hola!</strong></p>
    <p>Inicie sesi&oacute;n para que conozcas tus <strong>mejores beneficios</strong></p>
    <br>
  </div>
</div>
{{#each ofertas}}
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <img src="{{imagenPublicidadPath}}" class="imagen-de-oferta" id="{{idOferta}}">
        </div>
      </div>
      <div class="row contenedor-de-botones">
        <div class="col-xs-6">
          <div class="tiempo-transcurrido">Hace {{tiempoTranscurrido}}</div>
        </div>
        <div class="col-xs-6">
          <div class="row" id="{{idOferta}}">
            {{#if esUnUsuarioConocido}}
              <div class="col-xs-3"><div class="boton-like {{like}}"></div></div>
              <div class="col-xs-3"><div class="boton-dislike {{dislike}}"></div></div>
            {{else}}
              <div class="col-xs-6"></div>
            {{/if}}
            <div class="col-xs-3"><div class="boton-escuchar"></div></div>
            <div class="col-xs-3"><div class="boton-compartir"></div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}

<script type="text/javascript">
$(".boton-like, .boton-dislike").click(function() {
  var activo = $(this).parent().parent().find(".activo");
  if(activo.attr('class') != $(this).attr('class')) {
    activo.addClass("inactivo").removeClass("activo");
  }
  $(this).toggleClass("activo").toggleClass("inactivo");
});

$(".imagen-de-oferta").click(function() {
  var id = $(this).attr("id");
  $.ajax({
    url: serverDomain + "/ofertas/" + id,
    success: function(data) {
      $(".panel-body").html(Handlebars.templates.oferta(data));
    }
  });
});
</script>
