<div class="row">
	<div class="col-xs-12">
		{{#if esHtml}}
			<iframe class="html-de-oferta embed-responsive-item" frameBorder="0" scrolling="no" id="html-de-oferta-{{idOferta}}" src="http://192.168.0.101:8080/archivossubidos/{{imagenPublicidadPath}}"></iframe>
			<script type="text/javascript">
			var source = serverDomain + "/archivossubidos/{{imagenPublicidadPath}}";
			var iframe = $('#oferta #html-de-oferta-{{idOferta}}');
			iframe.attr("src", source);
			iframe.ready(function() {
				var newHeight = $(this).find("body")[0].offsetHeight + "px";
				iframe.css({height: newHeight});
			});
			</script>
		{{else}}
			<img src="/archivossubidos/{{imagenPublicidadPath}}" class="imagen-de-oferta">
		{{/if}}
		<div class="row nombre-del-comercio">
			<div class="col-xs-12">
				<strong>{{comercio}}</strong>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<span>{{tituloDeOferta}}</span>
			</div>
		</div>
		<div class="row contenedor-de-botones">
			<div class="col-xs-12">
				<div class="tiempo-transcurrido">Hace {{tiempoTranscurrido}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center boton-escuchar-oferta" data-audio="{{descripcionAudio}}">
				<img src="./img/icono-94x91.png">
			</div>
		</div>
		<div class="row contenedor-de-botones">
			<div class="col-xs-6">
				<div class="row">
					{{#if esUnUsuarioConocido}}
						<div class="col-xs-3"><div class="boton-like {{like}}"></div></div>
						<div class="col-xs-3"><div class="boton-dislike {{dislike}}"></div></div>
					{{/if}}
				</div>
			</div>
			<div class="col-xs-6">
				<div class="row">
					<div class="col-xs-9"></div>
						<div class="col-xs-3"><div class="boton-compartir"></div></div>
				</div>
			</div>
		</div>
	</div>
</div>